.container{
  background-color: transparent;
  color: black;
  margin: 16px;
  clear: both;
  display: block;
  position: relative;
  height:50px;
  padding:10px;
}
.copy-button{
  box-sizing: border-box;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 24px;
  color: black;
}
.text-content{
  color: #005bff;
  margin-left: 30px !important;
}
