

.mat-button-toggle{
  background-color: transparent !important;
  color: #005BFF !important;
}

.mat-button-toggle:hover {
  background-color: #005BFF !important;
  color: #ffffff !important;
}

.mat-button-toggle-checked {
  background-color: #005BFF !important;
  color: #ffffff !important;
}
