@use '@angular/material' as mat;
@include mat.core();
@import "node_modules/angular-notifier/styles";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
$my_accent_palette: (
  50: #e5eaff,
  100: #005BFF,
  200: #92a6ff,
  300: #6682ff,
  400: #4668ff,
  500: #254dff,
  600: #2146ff,
  700: #1b3dff,
  800: #1634ff,
  900: #0d25ff,
  A100: #ffffff,
  A200: #f6f7ff,
  A400: #c3c8ff,
  A700: #aab0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
@font-face {
  font-family: 'Roboto Regular', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url("assets/Graphik-Regular-Web.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

$my-primary: mat.define-palette($my_accent_palette, 100);
$my-accent: mat.define-palette(mat.$amber-palette, 900);
$my-warn: mat.define-palette(mat.$deep-orange-palette, 700);
$my-fonts: mat.define-typography-config(
  $font-family: 'Graphik',
);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: $my-fonts,
));

//@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
//@font-face {
//  font-family: 'Roboto Regular', sans-serif;
//  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//  font-style: normal;
//  font-weight: normal;
//}
@font-face {
  font-family: 'Graphik';
  src: url("assets/Graphik-Regular-Web.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Graphik", sans-serif !important;}
p{
  font-size: 20px !important;
  font-family: "Graphik", sans-serif !important;
  padding: 0 !important;
  margin: 0 !important;
}
small{
  font-size: 13px !important;
   font-family: "Graphik", sans-serif !important;
   padding: 0 !important;
   margin: 0 !important;
 }
a {
  font-family: "Graphik", sans-serif !important;
  font-size: 18px !important;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0 !important;
  color: black;
  transition: 20ms;
  cursor: pointer;
  text-decoration: none !important;
}
a:hover {
  color: #0d25ff;
}
h1 {
  font-size: 30px  !important;
  font-weight: bold !important;
  font-family: "Graphik", sans-serif !important;
}
h2 {
  font-size: 24px  !important;
  font-weight: bold !important;
  font-family: "Graphik", sans-serif !important;
}
